body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h6 {
    opacity: 0.7;
}

button {
    width: 80%;
    margin-left: 30px;
    border: 1px solid #fff;
    background-color: #609966;
    color: #fff;
}

p.card-text {
    opacity: 0.7;
}

div.card-text {
    display: flex;
    justify-content: space-between;
}

.promotionPrice {
    font-size: 50px;
    font-weight: 500;
    color: #609966;
}

.originalPrice {
    margin-right: 80px;
    font-size: 15px;
    text-decoration: line-through;
}

.cartIcon {
    margin-right: 15px;
}